<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.eacsoftware.sacipresente" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>SACI Presente</name>
  <description>
    Aplicativo auxiliar na criação de listas de presentes no ERP SACI.
  </description>
  <author email="felipe.jorge@eacsoftware.com.br" href="http://eacsoftware.com.br">
    Felipe Jorge - EAC Software 2014
  </author>
  <access origin="*" />
  <preference name="fullscreen" value="true" />
  <feature name="http://api.phonegap.com/1.0/device" />
</widget>
